@charset "UTF-8";
/*Estilos para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: justify;
}

header h1 {
    font-size: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Essa budega foi impressa do site www.lulala/13/noticia.com';
}