@charset "UTF-8";
/*Estilos para telas*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;

}

header {
    background-color: #ffffff;
}

header h1 {
    padding: 25px;
    color: #dd0000;
    font-weight: bolder;
    text-align: center;
    font-size: 2.5em;
}

menu {
    background-color: #c00000;
}

menu ul {
    list-style-type: none;
}

menu li {
    display: inline-block;
    padding: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}



article {
    display: block;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 600px;
}